.toolbar {
  /* height: 100px; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
  z-index: 90;
  /* box-shadow: 0px 2px 14px 0px #181617; */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.toolbar nav {
  height: 70%;
}

@media (max-width: 1024px) {
  .desktop__only {
    display: none;
  }
}
