@media (max-width: 1024px) {
  .navigation__item {
    margin: 20px 0;
    display: block;
    width: 100%;
    font-size: 20px;
  }

  .navigation__item a {
    color: var(--color-primary-400);
    text-decoration: none;
    width: 100%;
    font-weight: bold;
  }

  .navigation__item a:hover,
  .navigation__item a:active,
  .navigation__item a.active {
    color: var(--color-primary-50);
  }
}

@media (min-width: 500px) {
  .navigation__item {
    margin: 0 30px;
    display: flex;
    width: auto;
    align-items: center;
    font-size: 18px;
  }

  .navigation__item a {
    color: var(--color-primary-800);
    height: 100%;
    padding: 10px 20px;
    font-weight: bold;
    transition-duration: 0.3s;
    letter-spacing: 3px;
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 60%));
  }

  .navigation__item a:hover,
  .navigation__item a:active,
  .navigation__item a.active {
    color: var(--color-primary-300);
  }
}
