@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgb(0 0 0 / 5%);
}

.image {
  min-width: 100%;
  min-height: 100%;
}

.image img {
  filter: brightness(70%);
}

.heading {
  position: absolute;
  height: 430px;
  width: 650px;
  bottom: 30%;
  left: 48%;
  text-align: left;
}

.heading1 {
  position: absolute;
  color: var(--color-primary-800);
  font-size: 30px;
  bottom: 268px;
  font-family: 'DM Sans', sans-serif;
}

.heading2 {
  position: absolute;
  color: var(--color-primary-50);
  font-size: 58px;
  bottom: 38px;
  font-family: 'DM Sans', sans-serif;
  line-height: 40px;
  left: 1px;
}

.heading2 h2 span {
  color: var(--color-primary-800);
}

.heading2 h3 {
  font-size: 47px;
  color: var(--color-primary-400);
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.text {
  position: absolute;
  bottom: -4%;
  font-size: 25px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  color: var(--color-primary-50);
  text-align: center;
  left: 4px;
}

.btn {
  margin-bottom: -30px;
  margin-top: 30px;
}

.btn a {
  color: #fff;
}
