.contact {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0 0 0 / 10%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.box {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255 255 255 / 66%);
  position: absolute;
  right: 0;
  top: 0%;
}

.container {
  max-width: 1400px;
  height: 100%;
  margin: auto;
  position: relative;
}

.headings {
  width: 711px;
  height: 245px;
  position: absolute;
  text-transform: uppercase;
  line-height: 67px;
  top: 10%;
  left: 3%;
  color: var(--color-primary-800);
  letter-spacing: 0;
}

.headings h1 {
  font-size: 85px;
  letter-spacing: 0;
}
.headings h2 {
  font-size: 85px;
  letter-spacing: 0;
}

.contact__box {
  width: 1300px;
  height: 600px;
  margin: auto;
  background-color: rgb(24 22 23 / 40%);
  top: 30%;
  position: inherit;
  padding: 20px;
  box-shadow: 0 12px 30px rgb(0 0 0 / 61%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form__header {
  position: absolute;
  top: 10%;
  left: 63%;
  color: var(--color-primary-800);
  text-transform: uppercase;
}

.form__icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 350px;
  grid-gap: 34px;
  justify-items: center;
  text-align: center;
  height: 345px;
  justify-items: center;
  align-items: center;
}

.form__icons p {
  color: var(--color-primary-800);
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  font-size: 22px;
  filter: drop-shadow(1px 1px 2px #000);
}

.icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to bottom right, #f09343, #efc043);
  border-radius: 50%;
  box-shadow: 0 12px 30px #000;
}

.icon img {
  width: 80%;
  height: 80%;
}

.text {
  position: absolute;
  top: 98%;
  text-transform: lowercase;
  font-family: 'Lato', sans-serif;
}

.text a {
  color: #fff;
}
